<html>
    <head>
        <title>Weather</title>
        
    </head>
    <body>
        {{>header}}
        <h3>{{title}}</h3>
        <form>
            <input type="text" placeholder="search place"/>
            <button type='submit'>search</button>
        </form>
        <p id="msg-1"></p>
        <p id="msg-2"></p>
        <script src="/js/app.js">
           
        </script>
    </body>
</html>